services:
  m4brew:
    image: matxby/m4brew:latest
    container_name: m4brew
    ports:
      - "8585:8080"
    environment:
      - TZ=Europe/London
      - PUID=1026
      - PGID=100
      - DOCKER_NETWORK=matt-net
    volumes:
      - /mnt/remotes/192.168.4.4_media/Audiobooks:/DSM Main:rw,slave
      - /mnt/cache/media/Chaptarr/Audiobooks:/Chaptarr:rw,slave
      - /mnt/cache/media/Audiobooks:/Test Folders:rw,slave
      - /mnt/cache/appdata/m4brew/config:/config:rw
      - /var/run/docker.sock:/var/run/docker.sock:rw
    networks:
      - matt-net
    restart: unless-stopped

networks:
  matt-net:
    external: true
