services:
  m4brew:
    image: matxby/m4brew:latest
    container_name: m4brew

    labels:
      - "net.unraid.docker.name=m4brew"
      - "net.unraid.docker.webui=http://[IP]:8585/"
      - "net.unraid.docker.icon=http://192.168.4.10:8585/static/images/m4brew-logo.png"

    ports:
      - "8585:8080"

    environment:
      - DOCKER_NETWORK=matt-net
      - TZ=Europe/London
      - PUID=1026
      - PGID=100

    volumes:
      # app + config
      - /mnt/cache/appdata/m4brew/scripts/m4brew.sh:/scripts/m4brew.sh:ro
      - /mnt/cache/appdata/m4brew/config:/config
      - /mnt/cache/appdata/m4brew/app:/app

      # docker socket (required for mount discovery + helper runs)
      - /var/run/docker.sock:/var/run/docker.sock:rw

      # ONLY audiobook roots
      - "/mnt/remotes/192.168.4.4_media/Audiobooks:/DSM Main:rw,slave"
      - "/mnt/cache/media/Chaptarr/Audiobooks:/Chaptarr:rw,slave"
      - "/mnt/cache/media/Audiobooks:/Test Folders:rw,slave"

    networks:
      - matt-net

    restart: unless-stopped

networks:
  matt-net:
    external: true