services:
  m4brew:
    build: .
    container_name: m4brew

    labels:
      - "net.unraid.docker.name=m4brew"
      - "net.unraid.docker.webui=http://[IP]:8585/"
      - "net.unraid.docker.icon=http://192.168.4.10:8585/static/m4brew%20logo.png"

    ports:
      - "8585:8080"

    volumes:
      - /mnt/cache/appdata/m4brew/scripts/m4brew.sh:/scripts/m4brew.sh:ro
      - /mnt/remotes/192.168.4.4_media/Audiobooks:/mnt/remotes/192.168.4.4_media/Audiobooks:rw,slave
      - /mnt/cache/media:/mnt/cache/media:rw
      - /mnt/cache/appdata/m4brew/config:/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
      - /mnt/cache/appdata/m4brew/app:/app

    environment:
      MODE: "convert"
      DRY_RUN: "true"

    networks:
      - matt-net

    restart: unless-stopped

networks:
  matt-net:
    external: true
